a, a:hover{text-decoration:none;}
.drg{position:absolute;top:0;left:0;cursor:pointer;}
.hb0{font-family:Verdana;color:FFFFFF;font-size:12;font-weight:bold;background-color:344c7b;border:1px solid #FFFFFF;margin:0 3 0 3;line-height:18px;cursor:pointer;padding:2px 8px 2px 8px;}
.hb1{font-family:Verdana;color:FFFFFF;font-size:12;font-weight:bold;background-color:990033;border:1px solid #FFFFFF;margin:0 3 0 3;line-height:18px;cursor:pointer;padding:2px 8px 2px 8px;}
.stro{font-size:11;color:000000;font-family:verdana;width:188;background-color:FFFFFF;cursor:pointer;position:absolute;}
.hp0{display:none;}
.hp1{display:'';}